<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.33.0.157554</string>
	</array>
	<key>CreationDate</key>
	<string>2012-12-07 10:15:04 +0000</string>
	<key>Creator</key>
	<string>Adrian Holzer</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>ImageCounter</key>
	<integer>4</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image2.pdf</string>
	</array>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2012-12-07 15:51:27 +0000</string>
	<key>Modifier</key>
	<string>Adrian Holzer</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAx7X05TU2l6ZT1mZn2WgVMCgUoDhg==</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>Sheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<false/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {72, 72}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasSize</key>
			<string>{72, 72}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{3.9492722, 9}, {64.963768, 55}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>5</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-27, -45}, {187, 178}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1</integer>
					<key>Shape</key>
					<string>Rectangle</string>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<false/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {144, 144}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasSize</key>
			<string>{144, 144}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{-9.7766266, -294}, {148.92155, 147}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>98009</integer>
					<key>Rotation</key>
					<real>180</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0</string>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>FillType</key>
							<integer>3</integer>
							<key>GradientColor</key>
							<dict>
								<key>a</key>
								<string>0.24</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>MiddleFraction</key>
							<real>0.65314978361129761</real>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{6.855072, 16}, {132.28986, 112}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>4</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-20, -10}, {187, 178}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1</integer>
					<key>Shape</key>
					<string>Rectangle</string>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 2</string>
			<key>UniqueID</key>
			<integer>2</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<false/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {1536, 2008}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasSize</key>
			<string>{1536, 2008}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{136.07971, 386}, {1263.8406, 1070}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>4</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-24, -15.511841}, {1590.4197, 2063.5117}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>98009</integer>
					<key>Rotation</key>
					<real>180</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0</string>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>FillType</key>
							<integer>3</integer>
							<key>GradientColor</key>
							<dict>
								<key>a</key>
								<string>0.24</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>MiddleFraction</key>
							<real>0.65314978361129761</real>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-40.00032, -88}, {2016, 2160}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1</integer>
					<key>Shape</key>
					<string>Rectangle</string>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>3</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>SPLASH iPAD 3</string>
			<key>UniqueID</key>
			<integer>41</integer>
			<key>VPages</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<false/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {2008, 1536}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasSize</key>
			<string>{2008, 1536}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{-24, -22}, {2030, 1571.9999}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>98009</integer>
					<key>Rotation</key>
					<real>180</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0</string>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>FillType</key>
							<integer>3</integer>
							<key>GradientColor</key>
							<dict>
								<key>a</key>
								<string>0.24</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>MiddleFraction</key>
							<real>0.65314978361129761</real>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{372.07971, 198}, {1263.8406, 1070}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>4</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-8.0003204, -88}, {2016, 2160}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1</integer>
					<key>Shape</key>
					<string>Rectangle</string>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>4</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>SPLASH iPAD 4</string>
			<key>UniqueID</key>
			<integer>42</integer>
			<key>VPages</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<false/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {57, 57}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasSize</key>
			<string>{57, 57}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{3.9492722, 9}, {49.608696, 42}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>5</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-27, -52.5}, {187, 178}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1</integer>
					<key>Shape</key>
					<string>Rectangle</string>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 3</string>
			<key>UniqueID</key>
			<integer>43</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<false/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {114, 114}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasSize</key>
			<string>{114, 114}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{6.210144, 14}, {101.57971, 86}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>5</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-27, -52.5}, {187, 178}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1</integer>
					<key>Shape</key>
					<string>Rectangle</string>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 4</string>
			<key>UniqueID</key>
			<integer>44</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<false/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {320, 480}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasSize</key>
			<string>{320, 480}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{28.891312, 129}, {262.21738, 222}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>4</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-16, -15.511841}, {357.53415, 535.51184}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>98009</integer>
					<key>Rotation</key>
					<real>180</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0</string>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>FillType</key>
							<integer>3</integer>
							<key>GradientColor</key>
							<dict>
								<key>a</key>
								<string>0.24</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>MiddleFraction</key>
							<real>0.65314978361129761</real>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-36, -154}, {2016, 2160}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1</integer>
					<key>Shape</key>
					<string>Rectangle</string>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>SPLASH iPAD 5</string>
			<key>UniqueID</key>
			<integer>45</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<false/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {640, 960}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasSize</key>
			<string>{640, 960}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array/>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>2</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 9</string>
			<key>UniqueID</key>
			<integer>47</integer>
			<key>VPages</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<false/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {640, 1136}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasSize</key>
			<string>{640, 1136}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{68, 350}, {493.72461, 418}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>4</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-16, -15.511841}, {674, 1171.5118}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>98009</integer>
					<key>Rotation</key>
					<real>180</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0</string>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>FillType</key>
							<integer>3</integer>
							<key>GradientColor</key>
							<dict>
								<key>a</key>
								<string>0.24</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>MiddleFraction</key>
							<real>0.65314978361129761</real>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-36, -154}, {2016, 2160}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1</integer>
					<key>Shape</key>
					<string>Rectangle</string>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>2</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>SPLASH iPAD 6</string>
			<key>UniqueID</key>
			<integer>46</integer>
			<key>VPages</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<false/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {320, 480}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasSize</key>
			<string>{320, 480}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{28.891312, 129}, {262.21738, 222}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>4</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-16, -15.511841}, {357.53415, 535.51184}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>98009</integer>
					<key>Rotation</key>
					<real>180</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0</string>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>FillType</key>
							<integer>3</integer>
							<key>GradientColor</key>
							<dict>
								<key>a</key>
								<string>0.24</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>MiddleFraction</key>
							<real>0.65314978361129761</real>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-36, -154}, {2016, 2160}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1</integer>
					<key>Shape</key>
					<string>Rectangle</string>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>SPLASH iPAD 7</string>
			<key>UniqueID</key>
			<integer>48</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UseEntirePage</key>
	<false/>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>8</integer>
		<key>ExpandedCanvases</key>
		<array/>
		<key>Frame</key>
		<string>{{-942, -215}, {693, 900}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-146, -564}, {2232, 2980}}</string>
		<key>Zoom</key>
		<real>0.25</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
			<array>
				<string>Canvas 2</string>
				<real>1</real>
				<real>1</real>
			</array>
			<array>
				<string>SPLASH iPAD 3</string>
				<real>0.25</real>
				<real>0.5</real>
			</array>
			<array>
				<string>SPLASH iPAD 4</string>
				<real>0.25</real>
				<real>1</real>
			</array>
			<array>
				<string>Canvas 3</string>
				<real>1</real>
				<real>1</real>
			</array>
			<array>
				<string>Canvas 4</string>
				<real>1</real>
				<real>1</real>
			</array>
			<array>
				<string>SPLASH iPAD 5</string>
				<real>0.25</real>
				<real>1</real>
			</array>
			<array>
				<string>SPLASH iPAD 6</string>
				<real>0.25</real>
				<real>1</real>
			</array>
			<array>
				<string>Canvas 9</string>
				<real>0.25</real>
				<real>1</real>
			</array>
			<array>
				<string>SPLASH iPAD 7</string>
				<real>0.25</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
